# Run the hourly jobs
SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root


*/5 * * * * sudo sync
*   * * * * [ "$(pidof restartd)" == "" ] && sudo restartd | sudo tee /tmp/restartd.log 2>&1

*   * * * * sudo /root/wifiWatchdog
